<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/save-task" method="post">
  <table border="1px">
    <tr>
      <td>
        <label>Priority</label>
        <label>
          <input type="number" name="priority">
        </label>
      </td>
      <td>
        <label>Description</label>
        <label>
          <input type="text" name="description">
        </label>
      </td>
      <td>
        <input type="submit" value="save">
      </td>

    </tr>

  </table>
</form>

</body>
</html>