<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizer</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
<h1>Organizer</h1>

<h2>Tasks list (Amount = <SPAN th:text="${size}"/>)</h2>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Priority</th>
        <th>Description</th>
        <th>Delete Task</th>
        <th>Update Task</th>
    </tr>

    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.description}"/>
        <td><a th:href="@{/delete-task/{id}(id = ${task.id})}">Delete</a></td>
        <td><a th:href="@{/update-task-form/{id}(id = ${task.id})}">Update</a></td>
    </tr>
</table>

<br/>

<form action= "/create-task" method="get">
    <input type="submit" value="add task">
</form>

</body>
</html>